@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: "Montserrat", sans-serif;
}

*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 100%;
}

.App {
  text-align: center;
  height: 100vh;
  background: #c6ffdd; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f7797d,
    #fbd786,
    #c6ffdd
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f7797d,
    #fbd786,
    #c6ffdd
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form {
  display: flex;
  justify-content: center;
}

.todo-list {
  display: flex;
  justify-content: center;
}

.list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  width: 35rem;
  margin: 3px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: 3px;
  -webkit-backdrop-filter: blur(3px);
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.btn-item {
  padding: 0 5px;
  background: #c6ffdd;
  border: 1px solid blue;
  border-radius: 5px;
}

.check {
  margin: 0 5px;
}

.delete:hover {
  color: red;
}

.check:hover {
  color: green;
}

.complete {
  text-decoration: line-through;
  color: red;
}
